/*CSS Dosyası*/

/*Boşlukları sıfırla*/

*{
    margin: 0px;
    padding: 0px;
}
#sayfa{
   width: 400px;/*900 olmalu normalde*/
   border-style: solid;
   border-width: 1px;
   min-height: 600px;
    margin: auto;
}
#banner{
    width: 398px;
   border-style: solid;
   border-width: 1px;
   height: 100px;
    margin: auto; 
    background-color: white;
}
#logo{
    width: 100px;
   border-style: none;
   border-width: 1px;
   height: 80px;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}
#vesika{
    width: 80px;
    height: 80px;
    
}
#sosyal{
    width: 180px;
   border-style: none;
   border-width: 1px;
   height: 40px;
    background-color: white;
    float: right;
    position: relative;
    top: 50px;
    right: 10px;
}
#ikon{
    float: right;
    margin-left:10px;
    width: 40px;

}
#anamenü{
    width: 398px;
   border-style: solid;
   border-width: 1px;
   height: 50px;
    margin: auto; 
    background-color: deepskyblue;
}
#anamenü ul{
    list-style: none;

}
#anamenü ul li{
    width: 80px;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: blue;
    background-color: white;
    float: left;
    padding: 2px;
    margin-left: 7px;
    position: relative;
    top: 10px;
    text-align: center;
}
#anamenü ul a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;

}
#anamenü ul a:link{
    color: blue;
}
#anamenü ul a:visited{
    color: brown;
}
#anamenü ul a:hover{
    color: grey;
    text-decoration: underline;
}
#anamenü ul a:active{
    color: red;
}
#içerik{
    width: 300px;
   border-style: solid;
   border-width: 1px;
   min-height: 400px;
   float: left;
    background-color: white;
}
#yanmenü{
    width: 96px;
   border-style: solid;
   border-width: 1px;
   min-height: 400px;
   float: left;
    background-color: royalblue;
}
.resim{
    float: left;
    width: 100px;
    margin: 5px;
}
.metin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: blue;
}
.baslik{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: red;
    font-weight: bolder;
}
#altmenü{
    width: 398px;
   border-style: solid;
   border-width: 1px;
   height: 50px;
   float: left;
    background-color: aqua;   
    text-align: center;
    color:black;
}
#altmenü a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
#altmenü a:hover{
    color: grey;
    text-decoration: underline;
}
.kucukmetin{
    font-size: 10px;
}

